# Data Story Telling

In [ ]:
# Download GDP Data from: 
# https://www.bea.gov//national/nipaweb/GetCSV.asp?GetWhat=SS_Data/Section1All_xls.zip&Section=2
# Unzip file using: unzip {file_name}

In [5]:
import pandas as pd
df = pd.read_table('~/Downloads/Section1all_csv.csv', sep=',')

In [6]:
df.head()

,Table 1.1.1. Percent Change From Preceding Period in Real Gross Domestic Product,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190
0,[Percent],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Annual data from 1969 To 2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Data published March 25, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,File created 3/24/2016 11:51:14 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Notice the file doesn't load correctly.
### Oftentimes datasets are not in a good format and need to be rearranged.

## Create a script to parse this csv file and create a new csv file for each table

In [27]:
with open('/Users/dpl/Downloads/Section1all_csv.csv', 'r') as f:
    c = 0
    num_files = 0
    in_table = False
    for line in f:
        c += 1
        # print(len(line.split(',')))
        row_list = line.split(',')
        if not in_table:
            if row_list[0] == 'Line':
                in_table = True
                new_file = open('output_file_{0:04d}.csv'.format(num_files), 'w')
        else:
            if row_list[0] != '':
                new_file.write(line)
            else:
                new_file.close()
                num_files += 1
                in_table = False
print(num_files)

110

In [19]:
import os
os.getcwd()

'/Users/dpl/code/data_analytics_course/ExercisesByWeek/03-ExecutiveStorytelling/01-viz-story-pres'

In [28]:
os.listdir()

['.ipynb_checkpoints',
 'output_file_0000.csv',
 'output_file_0001.csv',
 'output_file_0002.csv',
 'output_file_0003.csv',
 'output_file_0004.csv',
 'output_file_0005.csv',
 'output_file_0006.csv',
 'output_file_0007.csv',
 'output_file_0008.csv',
 'output_file_0009.csv',
 'output_file_0010.csv',
 'output_file_0011.csv',
 'output_file_0012.csv',
 'output_file_0013.csv',
 'output_file_0014.csv',
 'output_file_0015.csv',
 'output_file_0016.csv',
 'output_file_0017.csv',
 'output_file_0018.csv',
 'output_file_0019.csv',
 'output_file_0020.csv',
 'output_file_0021.csv',
 'output_file_0022.csv',
 'output_file_0023.csv',
 'output_file_0024.csv',
 'output_file_0025.csv',
 'output_file_0026.csv',
 'output_file_0027.csv',
 'output_file_0028.csv',
 'output_file_0029.csv',
 'output_file_0030.csv',
 'output_file_0031.csv',
 'output_file_0032.csv',
 'output_file_0033.csv',
 'output_file_0034.csv',
 'output_file_0035.csv',
 'output_file_0036.csv',
 'output_file_0037.csv',
 'output_file_0038.csv',
 'output_file_0039.csv',
 'output_file_0040.csv',
 'output_file_0041.csv',
 'output_file_0042.csv',
 'output_file_0043.csv',
 'output_file_0044.csv',
 'output_file_0045.csv',
 'output_file_0046.csv',
 'output_file_0047.csv',
 'output_file_0048.csv',
 'output_file_0049.csv',
 'output_file_0050.csv',
 'output_file_0051.csv',
 'output_file_0052.csv',
 'output_file_0053.csv',
 'output_file_0054.csv',
 'output_file_0055.csv',
 'output_file_0056.csv',
 'output_file_0057.csv',
 'output_file_0058.csv',
 'output_file_0059.csv',
 'output_file_0060.csv',
 'output_file_0061.csv',
 'output_file_0062.csv',
 'output_file_0063.csv',
 'output_file_0064.csv',
 'output_file_0065.csv',
 'output_file_0066.csv',
 'output_file_0067.csv',
 'output_file_0068.csv',
 'output_file_0069.csv',
 'output_file_0070.csv',
 'output_file_0071.csv',
 'output_file_0072.csv',
 'output_file_0073.csv',
 'output_file_0074.csv',
 'output_file_0075.csv',
 'output_file_0076.csv',
 'output_file_0077.csv',
 'output_file_0078.csv',
 'output_file_0079.csv',
 'output_file_0080.csv',
 'output_file_0081.csv',
 'output_file_0082.csv',
 'output_file_0083.csv',
 'output_file_0084.csv',
 'output_file_0085.csv',
 'output_file_0086.csv',
 'output_file_0087.csv',
 'output_file_0088.csv',
 'output_file_0089.csv',
 'output_file_0090.csv',
 'output_file_0091.csv',
 'output_file_0092.csv',
 'output_file_0093.csv',
 'output_file_0094.csv',
 'output_file_0095.csv',
 'output_file_0096.csv',
 'output_file_0097.csv',
 'output_file_0098.csv',
 'output_file_0099.csv',
 'output_file_0100.csv',
 'output_file_0101.csv',
 'output_file_0102.csv',
 'output_file_0103.csv',
 'output_file_0104.csv',
 'output_file_0105.csv',
 'output_file_0106.csv',
 'output_file_0107.csv',
 'output_file_0108.csv',
 'output_file_0109.csv',
 'pair_programming_data_parsing.ipynb',
 'sugar_usage_america.ipynb']

In [34]:
import pandas as pd
df = pd.read_csv('output_file_0004.csv')
df

,1,Gross domestic product,A191RA3,32.683,32.749,33.833,35.609,37.618,37.424,37.350,...,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194
0,2,Personal consumption expenditures,DPCERA3,28.803,29.481,30.607,32.484,34.094,33.813,34.580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,Goods,DGDSRA3,28.957,29.185,30.407,32.395,34.073,32.830,33.053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,Durable goods,DDURRA3,15.005,14.607,16.075,18.072,19.962,18.682,18.726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,Nondurable goods,DNDGRA3,40.845,41.753,42.536,44.257,45.528,44.420,44.802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,Services,DSERRA3,28.011,29.113,30.121,31.853,33.364,34.009,35.289,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7,Gross private domestic investment,A006RA3,33.176,31.159,34.370,38.242,42.426,39.616,33.199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8,Fixed investment,A007RA3,30.042,29.426,31.446,35.032,38.035,35.920,32.397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9,Nonresidential,A008RA3,21.846,21.652,21.642,23.528,26.640,26.858,24.440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10,Structures,B009RA3,71.777,71.975,70.799,73.001,78.971,77.272,69.157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11,Equipment,Y033RA3,18.627,18.296,18.445,20.796,24.644,25.156,22.522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,12,Intellectual property products,Y001RA3,8.762,8.751,8.786,9.399,9.872,10.158,10.248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,13,Residential,A011RA3,71.861,68.110,86.247,101.215,100.565,80.844,71.088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,14,Change in private inventories,ZZZZZZ3,.....,.....,.....,.....,.....,.....,.....,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,15,Net exports of goods and services,ZZZZZZ3,.....,.....,.....,.....,.....,.....,.....,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,16,Exports,B020RA3,10.646,11.781,11.986,12.919,15.354,16.567,16.462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,17,Goods,B253RA3,10.167,11.307,11.296,12.524,15.594,16.920,16.570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,18,Services,B646RA3,12.247,13.349,14.324,14.264,14.513,15.303,16.207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,19,Imports,B021RA3,12.263,12.787,13.469,14.985,15.680,15.325,13.622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,20,Goods,B255RA3,10.866,11.292,12.239,13.904,14.885,14.471,12.648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,21,Services,B656RA3,19.391,20.403,19.822,20.662,19.965,19.943,19.078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,22,Government consumption expenditures and gross ...,B822RA3,48.171,47.189,46.323,46.103,45.954,46.999,48.034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,23,Federal,B823RA3,56.034,52.600,49.245,47.695,45.987,46.309,46.554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,24,National defense,B824RA3,69.292,63.637,57.169,53.224,50.505,50.025,49.537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,25,Nondefense,B825RA3,33.441,33.759,35.636,38.197,38.272,40.026,41.570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,26,State and local,B829RA3,41.177,42.358,43.688,44.656,45.916,47.605,49.331,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN